@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #9cd4a1;
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

nav li {
    list-style: none;
    display: inline;
    padding: 0 20px;
}

nav li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

nav li a:hover{
    color: #53a5db
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

#header-img{
    cursor: pointer;
    width: 60px;
}
